---
name: pre-commit

permissions: {}

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-python@v6.1.0
      - uses: pre-commit/action@v3.0.1
